.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > h1 {
  margin: 1em;
  padding: 1em;
}

button {
  margin: 1em;
  padding: 1em 2em 1em 2em;
  background-color: orangered;
  color: white;
  border: none;
  font-weight: 900;
  cursor: pointer;
}
